<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happysong.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 友盟-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.happysong.android.context.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5680aa4b67e58e9a90000faa" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="android" />

        <activity
            android:name="com.happysong.android.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name="com.happysong.android.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.happysong.android.LoginActivity"
            android:label="@string/activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.DetailActivity"
            android:label="@string/activity_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.MusicActivity"
            android:label="@string/activity_music"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.ReadingActivity"
            android:label="@string/activity_reading"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Reading"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.happysong.android.FilterActivity"
            android:label="@string/activity_filter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.MyReadingActivity"
            android:label="@string/activity_my_reading"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.FeedbackActivity"
            android:label="@string/activity_feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.ChangePasswordActivity"
            android:label="@string/activity_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.ListenedActivity"
            android:label="@string/activity_listened"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.CategoryActivity"
            android:label="@string/activity_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.SearchActivity"
            android:label="@string/activity_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.happysong.android.ZoomActivity"
            android:label="@string/activity_zoom"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.happysong.android.FirstRunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Welcome" />
        <activity
            android:name="com.happysong.android.Category2Activity"
            android:label="@string/activity_category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.happysong.android.AboutActivity"
            android:label="@string/activity_about"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.happysong.android.ProtocolActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="happysong" />
            </intent-filter>
        </activity>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service android:name="com.happysong.android.service.PlayerService" />

        <!--test-->
        <!--<activity android:name=".TestActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data-->
        <!--android:scheme="happysong" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>
